<a href="https://colab.research.google.com/github/obaniah/Assignment-4-CS-4783-5783---oday-bani-ahmad/blob/main/Q1_part_2_Assignment_4_CS_4783_5783_Oday_Bani_Ahmad_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1 part 2

In [ ]:
import pandas as pd
data = pd.read_csv('Train_Asssignment4_Data.csv')
data

,House ID,Local Price,Bathrooms,Land Area,Living area,# Garages,# Rooms,# Bedrooms,Age of home,Construction type
0,1,4.9176,1.0,3.4720,0.998,1.0,7,4,42,Apartment
1,2,5.0208,1.0,3.5310,1.500,2.0,7,4,62,House
2,3,4.5429,1.0,2.2750,1.175,1.0,6,3,40,Condo
3,4,4.5573,1.0,4.0500,1.232,1.0,6,3,54,Apartment
4,5,5.0597,1.0,4.4550,1.121,1.0,6,3,42,Apartment
5,6,3.8910,1.0,4.4550,0.988,1.0,6,3,56,Condo
6,7,5.8980,1.0,5.8500,1.240,1.0,7,3,51,Condo
7,8,5.6039,1.0,9.5200,1.501,0.0,6,3,32,House
8,9,16.4202,2.5,9.8000,3.420,2.0,10,5,42,Condo
9,10,14.4598,2.5,12.8000,3.000,2.0,9,5,14,Apartment
10,11,5.8282,1.0,6.4350,1.225,2.0,6,3,32,House
11,12,5.3003,1.0,4.9883,1.552,1.0,6,3,30,House
12,13,6.2712,1.0,5.5200,0.975,1.0,5,2,30,House
13,14,5.9592,1.0,6.6660,1.121,2.0,6,3,32,Condo
14,15,5.0500,1.0,5.0000,1.020,0.0,5,2,46,Apartment
15,16,5.6039,1.0,9.5200,1.501,0.0,6,3,32,House
16,17,8.2464,1.5,5.1500,1.664,2.0,8,4,50,Apartment
17,18,6.6969,1.5,6.9020,1.488,1.5,7,3,22,House
18,19,7.7841,1.5,7.1020,1.376,1.0,6,3,17,Condo
19,20,9.0384,1.0,7.8000,1.500,1.5,7,3,23,Apartment

In [ ]:
import numpy as np 
import pandas as pd 	
import matplotlib.pyplot as plt 
import math



X = data.drop([data.columns[-1]], axis = 1)
y = data[data.columns[-1]]

In [ ]:
def _calc_likelihoods(self):

	for feature in self.features:

		for outcome in np.unique(self.y_train):
			outcome_count = sum(self.y_train == outcome)
			feat_likelihood = self.X_train[feature][self.y_train[self.y_train == outcome].index.values.tolist()].value_counts().to_dict()

			for feat_val, count in feat_likelihood.items():
				self.likelihoods[feature][feat_val + '_' + outcome] = count/outcome_count


def _calc_predictor_prior(self):

	for feature in self.features:
		feat_vals = self.X_train[feature].value_counts().to_dict()

	for feat_val, count in feat_vals.items():
			self.pred_priors[feature][feat_val] = count/self.train_size